%h3.page-title
  投稿する
.contents.row
  

  =form_tag('/articles', method: :post) do
    %input{:name => "name", :placeholder => "Your Name", :type => "text"}/
    %input{:name => "title", :placeholder => "Title", :type => "text"}/
    %textarea{:cols => "30", :name => "article", :placeholder => "text", :rows => "10"}
    %input.form-btn{:type => "submit", :value => "SUBMIT"}/

  
  -# =form_for(@article) do |f|
  -#   = f.text_field :name
  -#   = f.text_field :title
  -#   = f.text_area :article
  -#   = f.submit "Submit"

    -# form_for
    -# <%= form_for [@articles] do |f| %>
    -# <%= f.text_field :name, placeholder: "Your Name" %>
    -# <%= f.text_field :title, placeholder: "Title" %>
    -# <%= f.text_area :article, placeholder: "Write Something", rows = "10" %>
    -# <%= button_tag type: "submit" do %>
    -#     SUBMIT
    -# <% end %>

    
