/*--------------partial 読み込み ------------------------------------------------*/
@import './normalize';
@import './js';
@import './variables';

//--------------layouuts 全体---------------------------------------------------//
html {
  box-sizing: border-box;

  *,*:before,*:after {
    box-sizing: inherit;
  }
}

body{
  background-color: $base_color;
}

.header{
  background: $accent_color;
  color: $white;
  height: 70px;
  box-shadow:$drop_shadow
}
.new-post{
  @include btn;
  @include white_link;
  position: fixed;
  bottom:30px;
  right: 30px;
  background: $accent_color;
  border-radius: 25px;
}


.header a{
  @include white_link; /*  CSS見直す --------*/
}  

.header__title{
  color: $white;
  font-size: 2em;
  line-height: 100%;
  padding-left: 40px;
  float:left;
}

.user-menu{
  float:right;
}

.user-menu__list{
  @include white-btn;
}

//--------------汎用・btn ----------------//

.contents input{
  width: 100%;
  margin: 5px;
  height: 2em;
}

.contents textarea{
  width: 100%;
  box-sizing: border-box;
  margin: 5px;
  height: 200px;
}

.form-btn{
  @include submit-btn;
}

.clearfix::after{ 
  content: "";
  display: block;
  clear: both;
}

.page__title{
  color: $accent_color;
  font: 1.5em;
  padding-left: 40px;
}

/*--------------conotents ------------------------------------------------*/

.contents{
  background-color: $white;
  width: 80%;
  border-radius: 15px;
  margin: 5px 40px 25px;
  padding: 15px;
  box-shadow:$drop_shadow;
  clear: both;
}

.content__article{
  color: $gray;
  font: 0.8em;
}

.content__title{
  display: block;
  color: $accent_color;
  font-size: 1.5em;
  line-height: 1.5em;
  border-bottom-style: dotted;
  border-block-end-width: 2px;
  border-bottom-color: $accent_color;
}

.edit-menu{
  float: right;
}

.edit-menu__btn{
  @include gray_link;
}

.post-info__list{
  @include gray_link;
  display: inline;
  font-size:0.6em;
}

.more-info{
  bottom:5px;
  right: 5px;
  text-decoration: none;
}

.more-info__show-detail{
  @include gray_link;
  float: right;
  color:  $accent_color;
}

// .more-info__show-detail:link{
//   text-decoration: none;
//   color:  $accent_color;
// }
